@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Google Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 0px 20px;
  margin-bottom: 0px;
}
.header h1 {
  font-size: 24px;
  font-weight: 400;
}
.header p {
  font-size: 10px;
  font-weight: 200;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.8);
  width: auto;
  padding: 0px 25px 20px 25px;
}
.form-box {
  display: flex;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 10px 12px;
  border-radius: 4px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.form-box input {
  height: 25px;
  border: none;
  border-radius: 2px;
}
.form-box button {
  height: 25px;
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
}
input::placeholder {
  font-size: 12px;
  padding: 6px;
}
